<!DOCTYPE html>
<html lang="en">
<body>
<iframe
  width="700"
  height="650"
  style="border:0"
  loading="lazy"
  allowfullscreen
  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyD6WkooXhE9Yn1d_72vhIUwHFlO2oAQklM
  &origin=Surrey University
  &destination=Manor Park
  &mode=walking">
</iframe>
</body>
</html>