<html>
  <body>
  <div class="mapPlanner">
    <p class="centerText">Left</p>
  </div>
  <div class="chatBox">
    <p class="centerText">Top Right</p>
  </div>
  <div class="musicSuggestion">
    <p class="centerText">Bottom Left</p>
  </div>
  </body>
</html>