/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "/*";
 @import "bootstrap";
 @import "tether";


.title{
  padding: 10px;
  text-align: center;
  background: lightgray;
  color: black;
}

body {
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.centerText {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkgray;
}

li {
  float: left;
  border-right:1px solid #BBBBBB;
}

li:last-child {
  border-right: 1px solid #BBBBBB;
  border-left: 1px solid #BBBBBB;
}

li a, a:visited {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: white;
  text-underline: white;
}

a.active {
  background-color: black;
  color: white;
  text-underline: white;
}

td {
  border: 1px solid black;
}

th, td {
  padding: 15px;
  text-align: center;
}

.button {
  background-color: #FAFAFA;
  border: 1px solid black;
  color: black;
  padding: 1px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: lightgray;
  color: black;
}


