// Place all the styles related to the home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mapPlanner {
  height: 74%;
  width: 70%;
  position: fixed;
  z-index: 1;
  top: 150px;
  padding_bottom: 100px;
  overflow-x: hidden;
  padding-left: 50px;
  left:0;
}

.chatBox {
  height: 50%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 150px;
  overflow-x: hidden;
  padding-right: 50px;
  right: 0;
}

.musicSuggestion {
  height: 40%;
  width: 30%;
  position: fixed;
  z-index: 1;
  bottom: 105px;
  overflow-x: hidden;
  padding-right: 50px;
  right: 0;
}